<!DOCTYPE html>
<html ng-app="app">
	<head>
		<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
		<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
		<link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/style.css">
		<title>CarryRoom</title>
		<link rel="shortcut icon" href="css/icon1.png" />
	</head>

	<body ng-controller="controller">
		<div class="space">
			<div class="container">
					<!--Student login button-->
					<img class="loginIcon" src="css/stu.png">
					<!--Professor login button-->
					<img class="loginIcon" src="css/prof.png">
			</div>
		</div>
		<!--this div is the header and the icon-->
		<div class="nav">
			<div class="container" id="title">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-4 navTitle">
						<img class="icon" src = "css/icon1.png">
						<h1>CarryRoom</h1>
					</div>
					<div class="col-md-4">
		            </div>
		        </div>
		    </div>
		</div>
		<!-- this div is the searching box-->
		<div class="backImage">
			<div class="searchingBox">
			  <div class="container">
				<p class="lead">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="search col-md-4">
									<p class="lead" >
									<form name="form" ng-submit="join()" class="navbar-form navbar-left" role="search">
										<input type="text" name = "input" class="form-control large"
										ng-model="example.text"
										ng-pattern="example.word" required
										ng-trim="false"
										autofocus
										aria-describedby="sizing-addon1"
										placeholder="Room name">
										<a href="#" class="btn btn-lg btn-default"
										ng-hide="form.input.$error.required || form.input.$error.pattern"
										ng-click="join()"
										>Carryit!</a>
									</form>
								</p>
						</div>
						<div class="col-md-4"></div>
					</div>
				</p>
			  </div>
			</div>
			<!--this div is the  discover existing rooms-->
			<div class="discover">
				<a href="#" class="btn">Discover and Explore</a>
			</div>
		</div>
		<div class="bottom">
			<div class="container">
				<br/>
				<p>Copyright &copy Why Naming Again. All Rights Reserved</p>
			</div>
		</div>
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>

		<!-- 1.4.2 -->
		<script src="js/lib/angular.min.js"></script>

		<script>
		angular.module('app', [])
		.controller('controller', ['$scope', '$location', '$window', function($scope, $location, $window) {
			$scope.example = {
				text: '',
				word: /^\s*\w*\s*$/
			};
			$scope.join = function () {
				$window.location.href = 'question.html#/' + $scope.example.text;
			}
		}]);
		</script>
	</body>
</html>
