<!DOCTYPE html>
<html ng-app="app">
	<head>
		<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
		<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
		<link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/style.css">
		<title>CarryRoom</title>
		<link rel="shortcut icon" href="css/icon1.png" />
		<meta charset="utf-8">
	</head>

	<body ng-controller="controller">
		<div class="space">
			<div class="container">
					<p id="quote" >"test" <br>--Norton Juster</p>
					<!-- fb start -->
					<div class="container">
					<div class="text-center">
						<p class="notlogin">Login or Register with:</p>
						<a href="/auth/login/facebook" class="not login btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
						<a href="/auth/logout/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Logout</a>
					</div>
					</div>
					<!-- fb end -->

					<div id="status">
					</div>
					<!-- fb end -->
			</div>
		</div>
		<!--this div is the header and the icon-->
		<div class="nav">
			<div class="container" id="title">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-4 navTitle">
						<img class="icon" src = "css/icon1.png">
						<h1>CarryRoom</h1>
					</div>
					<div class="col-md-4">
		            </div>
		        </div>
		    </div>
		</div>
		<div id="backImage">
			<!-- this div is the searching box-->
			<div class="searchingBox">
			  <div class="container">
				<p class="lead">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="search col-md-4">
									<p class="lead" >
									<form name="form" ng-submit="join()" class="navbar-form navbar-left" role="search">
										<input type="text" name = "input" class="form-control large"
										ng-model="example.text"
										ng-pattern="example.word" required
										ng-trim="false"
										autofocus
										aria-describedby="sizing-addon1"
										placeholder="Room name">
										<a href="#" class="btn btn-lg btn-default"
										ng-click="join()"
										>Carryit!</a>
									</form>
								</p>
						</div>
						<div class="col-md-4"></div>
					</div>
				</p>
			  </div>
			</div>
			<!--this div is the  discover existing rooms-->
			<div class="discover">
				<a href="#" class="btn">Discover and Explore</a>
			</div>

			<div class="bottom">
				<div class="container">
					<br/>
					<p>Copyright &copy Why Naming Again. All Rights Reserved</p>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>

		<!-- 1.4.2 -->
		<script src="js/lib/angular.min.js"></script>

		<script>
		angular.module('app', [])
		.controller('controller', ['$scope', '$location', '$window', function($scope, $location, $window) {
			$scope.example = {
				text: '',
				word: /^\s*\w*\s*$/
			};
			$scope.join = function () {
				$window.location.href = 'question.html#/' + $scope.example.text;
			}
		}]);
		</script>
		<!--randomly show quote and background image-->
		<script>
			var image = [
				"img/sea.jpg",
				"img/faith.jpg",
				"img/hkust.jpg",
				"img/universe.jpg",
				"img/candle.jpg",
				"img/power.jpg",
				"img/young.jpg"
				];
			var quote = [
				"You can swim all day in the Sea of Knowledge and not get wet. <br>--Norton Juster",
				"Sometimes life hits you in the head with a brick. Don't lose faith. <br>--Steve Jobs",
				"求進，求新，創未來。<br>--HKUST Motto",
				"One thing only I know, and that is that I know nothing. <br>--Socrates",
				"If you have knowledge, let others light their candles with it. <br>--Winston Churchill",
				"I am not young enough to know everything.<br>--Oscar Wilde",
				"Too young, too simple. <br>--The Elder Jiang"];
			if(quote.length == image.length)
			{
				var size = image.length;
				var x = Math.floor(size*Math.random());
				document.getElementById("quote").innerHTML = quote[x];
				var imgLocation = 'url(\"'+image[x]+'\")';
				document.getElementById("backImage").style.backgroundImage = imgLocation;
			}
		</script>
		<script>
			$(window).on('hashchange', function() {
				if (window.location.hash == '#/_=_'){
					history.replaceState
						? history.replaceState(null, null, window.location.href.split('#')[0])
						: window.location.hash = '';
				}
			});
		</script>
		<!--Test FB Login-->
		<script>
		  // This is called with the results from from FB.getLoginStatus().
		  function statusChangeCallback(response) {
		    console.log('statusChangeCallback');
		    console.log(response);
		    // The response object is returned with a status field that lets the
		    // app know the current login status of the person.
		    // Full docs on the response object can be found in the documentation
		    // for FB.getLoginStatus().
		    if (response.status === 'connected') {
		      // Logged into your app and Facebook.
		      testAPI();
		      document.getElementsByTagName("notlogin").style.display="none";
		    } else if (response.status === 'not_authorized') {
		      // The person is logged into Facebook, but not your app.
		      document.getElementById('status').innerHTML = 'Please log ' +
		        'into this app.';
		    } else {
		      // The person is not logged into Facebook, so we're not sure if
		      // they are logged into this app or not.
		      document.getElementById('status').innerHTML = 'Please log ' +
		        'into Facebook.';
		    }
		  }

		  // This function is called when someone finishes with the Login
		  // Button.  See the onlogin handler attached to it in the sample
		  // code below.
		  function checkLoginState() {
		    FB.getLoginStatus(function(response) {
		      statusChangeCallback(response);
		    });
		  }

		  window.fbAsyncInit = function() {
		  FB.init({
		    appId      : '{your-app-id}',
		    cookie     : true,  // enable cookies to allow the server to access 
		                        // the session
		    xfbml      : true,  // parse social plugins on this page
		    version    : 'v2.2' // use version 2.2
		  });

		  // Now that we've initialized the JavaScript SDK, we call 
		  // FB.getLoginStatus().  This function gets the state of the
		  // person visiting this page and can return one of three states to
		  // the callback you provide.  They can be:
		  //
		  // 1. Logged into your app ('connected')
		  // 2. Logged into Facebook, but not your app ('not_authorized')
		  // 3. Not logged into Facebook and can't tell if they are logged into
		  //    your app or not.
		  //
		  // These three cases are handled in the callback function.

		  FB.getLoginStatus(function(response) {
		    statusChangeCallback(response);
		  });

		  };

		  // Load the SDK asynchronously
		  (function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));

		  // Here we run a very simple test of the Graph API after login is
		  // successful.  See statusChangeCallback() for when this call is made.
		  function testAPI() {
		    console.log('Welcome!  Fetching your information.... ');
		    FB.api('/me', function(response) {
		      console.log('Successful login for: ' + response.name);
		      document.getElementById('status').innerHTML =
		        'Thanks for logging in, ' + response.name + '!';
		    });
		  }
</script>

	</body>
</html>
