<!doctype html>
<html lang="en" ng-app="todomvc" scroll data-framework="firebase">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>Question Room</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="css/icon1.png" />

    <link rel="stylesheet" href="css/filter.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

</head>
<body ng-controller="TodoCtrl" style="background-color: #e8e8e8">
    <div class="space">
        <div class="container" >
                <!--Student login button-->
                <a href="/index.html"><img class="logo" src="css/icon1.png" ></a>
                <!-- fb start -->
                    <div class="container">
                    <div class="text-center">
                        <p>Login or Register with:</p>
                        <a href="/auth/login/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                        <a href="/auth/logout/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Logout</a>
                    </div>
                    </div>
                    <!-- fb end -->

                    <div id="status">
                    </div>
                    <!-- fb end -->
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div>
        <h3>Poll of this Week</h3>
        <div class="divline"></div>
        <div class="sidebarblock" ng-repeat="todo in todos |filter: {roomId : roomId}|questionFilter_1 |questionFilter:maxQuestion "
                  ng-class="{completed: todo.completed, editing: todo == editedTodo}" >
            
            <div class="blocktxt">
                <p>{{todo.wholeMsg}}</p>
                <form action="#" method="post" class="form">
                    <table class="poll">
                        <tr ng-repeat='choice in todo.choices'>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                        {{choice.name}}
                                    </div>
                                </div>
                            </td>
                            <td class="chbox">
                                <input id="opt1" type="radio" name="opt" value="1"checked>
                                <label for="opt1"></label>
                            </td>
                        </tr>
                        
                    </table>
                </form>
                <div class="icons" >
                     <a class="btn btn-danger btn-xs" ng-click="removeTodo(todo)" >delete</a>
                </div>
                
            </div>
        </div>
        <div class="sidebarblock">
            <h3>Categories</h3>
            <div class="divline"></div>
            <div class="blocktxt">
                <ul class="cats">
                    <li><a href="#">Instrutor's posts <span class="badge pull-right">20</span></a></li>
                    <li><a href="#">TA's posts<span class="badge pull-right">10</span></a></li>
                    <li><a href="#">Hot answers <span class="badge pull-right">50</span></a></li>
                    <li><a href="#">Others<span class="badge pull-right">36</span></a></li>
                </ul>
            </div>
        </div>
    </div>

        <!-- -->
    </div>

    <div class="col-lg-6 col-md-6">
        <!-- LEAVE SPACE FOR FUTURE SEARCH -->
        <!--
        <div class="searchQuestion">
                <form action="#" method="post" class="form">
                    <div class="col-md-10">
                        <input type="text" class="form-control" laceholder="Search for question"
                               ng-model="input.wholeMsg" autofocus="autofocus">
                        </input>
                    </div>
                    <div class="col-md-2"><button class="btn btn-alarm" type="button"  ng-click="addTodo()">
                        <i class="glyphicon glyphicon-search"></i></button></div>
                    <div class="clearfix"></div>
                </form>
        </div>
        -->






        <!-- NEW DESIGN FOR POSTING QUESTIONS -->


        <div class="input-group">
            <!-- POST -->
            <div class="post" id="collapse1">

                <form action="#" class="form newtopic" method="post" >
                    <div class="topwrap">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <img src="img/avatar.png" height="42" width="42" alt="" />
                                <div class="status green"></div>
                            </div>

                            <div class="icons">

                            </div>
                        </div>

                        <div class="posttext pull-left">
                            <div class ="row questionBar">
                            <form action="#" method="post" class="form">
                                    <textarea type="text" class="form-control" placeholder="Post for a question"
                                           ng-model="input.wholeMsg" autofocus="autofocus">
                                    </textarea>
                                <div class="clearfix"></div>
                            </form>
                            </div>
                            <!--
                            <div>
                                <input type="text" placeholder="Enter Topic Title" class="form-control" />
                            </div>
                            <div>
                                <textarea name="desc" id="desc" placeholder="Description"
                                          class="form-control" ></textarea>
                            </div>
                            -->
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <select name="category" id="category"  class="form-control" >
                                        <option value="" disabled selected>Select Category</option>
                                        <option value="op1">Question</option>
                                        <option value="op2">Instruction</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div><p>Who can see this?</p></div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="everyone" /> Everyone</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="friends"  /> Only Instructors</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfobot">

                        <div class="notechbox pull-left">
                            <input type="checkbox" name="note" id="note" class="form-control" />
                        </div>

                        <div class="pull-left">
                            <label for="note"> Email me when some one post a reply</label>
                        </div>

                        <div class="pull-right postreply">
                            <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                            <div class="pull-left"><button type="button" class="btn btn-primary"
                                    ng-click="addTodo()">Post</button></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="pull-right postreply">
                            <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                            <div class="pull-left"><button type="button" class="btn btn-primary"
                                    ng-click="addPolling()">Add poll</button></div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="clearfix"></div>
                    </div>
                </form>
            </div><!-- POST -->

            <span class="input-group-btn">
                <button class="btn btn-default" type="button" style="opacity:0"></button>
            </span>
        </div>



        <!-- NEW DESIGN FOR TODOLIST -->



        <div class="list-group" id="todo-list">

            <span class="listgroup-item" ng-repeat="todo in todos |filter: {roomId : roomId}|questionFilter:maxQuestion "
                  ng-class="{completed: todo.completed, editing: todo == editedTodo}">

                <div class="post list-group-item-heading" ng-switch on="todo.headLastChar"
                     ng-style = "{'opacity': (1 + todo.echo * 0.05 >= 0.1) ? 1 + todo.echo * 0.05 : 0.1}">
                    <div class="wrap-ut pull-left">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <img src="img/avatar.png" height="42" width="42" alt="" />
                                <div class="status green">&nbsp;</div>
                            </div>


                            <div class="icons" >
                             <a class="btn btn-danger btn-xs" ng-click="removeTodo(todo)" >delete</a>
                            </div>
                        </div>

                        <div class="posttext pull-left">
                            <h2 ng-class="{completed: todo.completed}">
                                <span class="label label-danger" ng-show="todo.new">New</span>
                                <span class="iconStyle glyphicon glyphicon-question-sign"></span>
                                <a href="#">{{todo.head}}</a>
                                <span ng-switch-when="?" class="iconStyle glyphicon glyphicon-question-sign"></span>
                                <span ng-switch-when="!" class="glyphicon glyphicon-ice-lolly"></span>
                            </h2>
                            <p>{{todo.linkedDesc}}</p>
                            <button ng-show="isAdmin" class="btn btn-default btn-xs glyphicon glyphicon-check"
                                    ng-click="toggleCompleted(todo)">Toggle Completed</button>
                            &nbsp;
                            <button ng-show="isAdmin" class="btn btn-default btn-xs glyphicon glyphicon-trash"
                                    aria-hidden="true" ng-click="removeTodo(todo)">Del</button>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                    <div class="postinfo pull-left">
                        <div class="comments">
                            <div class="commentbg">
                                {{$storage[todo._id]}}
                                <div class="mark"></div>
                            </div>

                        </div>
                        <div class="views row">
                            <span class="col-md-5 glyphicon glyphicon-thumbs-up voteup" style="font-size: 20px;"
                                  ng-click="!$storage[todo._id]? addEcho(todo) : ($storage[todo._id] == 'echoed' ? minusEcho(todo) : void(0));"
                                  ng-disabled="!!$storage[todo._id]"></span>
                            <span class="col-md-2 label label-warning"> {{todo.echo}} </span>
                            <span class="col-md-5 glyphicon glyphicon-thumbs-down votedown"
                                  ng-click="!$storage[todo._id]? voteDown(todo) : ($storage[todo._id] == 'voteddown' ? voteDownCancel(todo) : void(0));"
                                  ng-disabled="!!$storage[todo._id]"></span>
                        </div>
                        <div class="time"><span class="glyphicon glyphicon-time"></span>
                            {{todo.createdAt | date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- POST -->

            </span>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">

        <div class="sidebarblock">
            <h3>Sort by</h3>
            <div class="divline"></div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Likes</button>
                <button type="button" class="btn btn-default">Times</button>
            </div>
        </div>
        <div class="sidebarblock">
            <h3>Filt by</h3>
            <div class="divline"></div>
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            </div>
        </div>
       <div class="sidebarblock">
            <h3>Try more classrooms</h3>
            <div class="divline"></div>
            <div class="blocktxt">
                <ul class="cats" ng-repeat="room in roomList">
                    <li><a ng-href="#{{room.name}}" ng-bind="room.name"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
                <div class="container">
                    <br/>
                    <p>Copyright &copy Why Naming Again. All Rights Reserved</p>
                </div>
            </div>
        <!-- -->
    </div>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- angularJs -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
    <script src="js/lib/Autolinker.min.js"></script>

    <!-- emoji -->
    <script type="text/javascript" src="webjs/config.js"></script>
    <script type="text/javascript" src="webjs/emoji.min.js"></script>
    <link type="text/stylesheet" rel="stylesheet" href="css/emoji.min.css" />

   <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="webjs/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="webjs/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript">
        var revapi;
                jQuery(document).ready(function() {
                    "use strict";
                    revapi = jQuery('.tp-banner').revolution(
                            {
                                delay: 15000,
                                startwidth: 1200,
                                startheight: 278,
                                hideThumbs: 10,
                                fullWidth: "on"
                            });
                }); //ready
    </script>

    <!-- Bootstrap -->
    <script src="webjs/bootstrap.min.js"></script>

    <!-- local scripts for our application -->
    <script src="js/lib/ngStorage.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/filters/questionFilter.js"></script>
    <script src="js/controllers/todoCtrl.js"></script>

    <!-- CUSTOM CODE TO RELOAD UPON CHANGE OF ROOM -->
    <script>
        window.onhashchange = function() {
            window.location.reload();
        }
    </script>
</body>
</html>